<html>
    <head>
    </head>
    <body>
        <form action="/produtos" method="post">
            <div>
                <label for="titulo">Título</label>
                <input type="text" id="titulo" name="titulo" placeholder="Informe o título"/>
            </div>
            <div>
                <label for="descricao">Descrição</label>
                <textarea rows="10" cols="20" id="descricao" name="descricao" placeholder="Informe a descrição"></textarea>
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="text" id="preco" name="preco" placeholder="Informe o preço" />
            </div>
            <input type="submit" value="Gravar">
        </form>    
    </body>
</html>